@model DocumentPageData

@{
    Layout = "/Views/Shared/_DocLayout.cshtml";
}

@section Styles {
    <!-- Document Title ============================================= -->
    <title>@Model.product.Name</title>
}


<!-- Content
============================================= -->
    <section id="content">

        @if (Model != null)
        {
            <p><strong>Product Name: </strong></p>
            <p>@Model.product.Name</p>
            <p><strong>Insertion Date: </strong></p>
            <p>@Model.product.InsertionDate.ToString("dd/MM/yyyy")</p>
            <p><strong>Type: </strong></p>
            <p>@Model.product.Type</p>
            <p><strong>Description: </strong></p>
            <p>@Model.product.Description</p>
            <p><strong>Expiry Date: </strong></p>
            <p>@Model.product.ExpiryDate.ToString("dd/MM/yyyy")</p>
            <p><strong>Price: </strong></p>
            <p>@Model.product.Price</p>
            <p><strong>Weight: </strong></p>
            <p>@Model.product.Weight</p>
        }
        else
        {
            <p>No Product to generate Documentation.</p>
        }

    </section>
<!-- #content end -->
